<span>Setlist-entry</span>
<!-- <button matIconButton
        class="song-select"
        [class.selected]="selected()"
        aria-label="Zur Setliste hinzufügen oder wieder entfernen"
        (click)="toggleSongSelected()"
        type="button">
  @if (selected()) {
    <mat-icon>check_circle</mat-icon>
  }
  @else {
    <mat-icon>add_circle</mat-icon>
  }
</button>

<div class="song-card" [routerLink]="['/songs',song.slug]">
  <div class="song-info">
    <span class="title">{{ song().name }}</span>
    <span class="artist">{{ song().artist }}</span>
  </div>

  <mat-chip-set class="song-meta" aria-label="Songs Meta Info">
    <mat-chip class="duration">
      <span class="mono-value">{{ song().duration | duration }}</span>
    </mat-chip>
    <mat-chip class="chip">
      <span class="mono-value">{{ song().tempo | formatMonospace }}</span>
      <span class="unit">BPM</span></mat-chip>
    <mat-chip class="chip">
      <mat-icon matChipAvatar>music_note_2</mat-icon>
      <span class="mono-value">{{ song().key | formatMonospace:2 }}</span>
    </mat-chip>
    <mat-chip class="chip">
      <mat-icon matChipAvatar>mic</mat-icon>
      @for (vocalist of song().mainVocalists; track $index) {
        {{ vocalist[0] }}@if (!$last) {,}
      }
    </mat-chip>
  </mat-chip-set>
</div> -->