@use '@angular/material' as mat;
:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  background-color: var(--mat-sys-surface-container-lowest);
  border-bottom: 1px solid var(--mat-sys-outline);
  border-left: 7px solid var(--mat-sys-outline);
  transition: background 0.2s;
  cursor: pointer;
}
:host:hover {
  background-color: var(--mat-sys-surface-container);
}
:host.b-top {
  border-top: 1px solid var(--mat-sys-outline);
}
:host:has(.encore) {
  border-left-color: var(--mat-sys-secondary-container);
}
.song-card.encore{
  .position {
    color: var(--mat-sys-secondary);
  }
}

.song-card {
  display: flex;
  width: 100%;

  .position {
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--mat-sys-primary);
    font-weight: 800;
    font-size: 1rem;
    min-width: 1.4rem;
  }
  .song-info {
    flex: .9;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 1rem;

    .title {
      font-weight: bold;
      font-size: 1.05rem;
    }
    .subtitle {
      font-size: 0.9rem;
      color: var(--mat-sys-secondary);
    }
  }

  .song-meta {
    flex: 1.1;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .chip {
      background-color: var(--mat-sys-surface-container-low);
    }
    .vox {
      @include mat.chips-overrides((
        with-icon-icon-color: var(--mat-sys-primary),
        with-avatar-avatar-size: 15px,
      ));
    }
    .duration {
      background-color: var(--mat-sys-primary-container);
    }
    .chip-avatar {
      font-size: .4em;
    }
    .mono-value {
      font-family: monospace;
      font-size: 1em;
      white-space: pre;
    }
    .unit {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* Die Magie: Feste Höhe passend zur restlichen Zeile */
      height: 1.4em; 
      width: 1.2em;
      vertical-align: middle;
      border-radius: 4px;
      line-height: .9;

      span {
        font-size: 0.5rem; /* Sehr kleine Schrift, damit 3 untereinander passen */
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  /* Mobile Optimierung */
  @media (max-width: 900px) {
    .song-meta, .song-details  {
      display: none;
    }
  }
}
