@if (store.listIsLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<div class="gig-list">
  @for (gig of store.gigs(); track gig.id) {
    <div class="gig-item" [routerLink]="['/gigs', gig.id, 'edit']">
      <h2 ngProjectAs="header-content">{{ gig.location }}</h2>
      <p>{{ gig.date | date: 'mediumDate' }}</p>
      <p>Dauer: {{ gig.maxDuration }} min</p>
    </div>
  }
</div>

<div class="page-actions">
  <button matFab aria-label="Neuen Gig erstellen" type="button" routerLink="/gigs/new">
    <mat-icon>add</mat-icon>
  </button>
</div>