@if (store.setlistsAreLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
@for (group of groupedSetlists(); track group.yearLabel) {
  <h2 class="year-header"> {{ group.yearLabel }}</h2>
  <mat-divider></mat-divider>
  @for (setlist of group.items; track setlist.id) {
    <div class="setlist-card">
      <div class="date-badge">
        @if (setlist.date) {
          <div class="month">{{ setlist.date | date:"MMM" }}</div>
          <div class="day">{{ setlist.date | date:"dd" }}</div>
        } @else {
          <div class="month">ZEIT</div>
          <div class="day">{{ setlist.duration }}</div>
        }
      </div>
      <div class="setlist-info">
        <span class="location">{{ setlist.location }}</span>
        <span class="details">
          {{ setlist.name }}
          <span class="count">({{ setlist.entries?.length }} Songs)</span>
        </span>
      </div>
      <div class="setlist-action">
        <button matButton="outlined" [routerLink]="['/live', setlist.slug]" type="button">
          <mat-icon>play_circle</mat-icon>
          <span class="action-hint">Live</span>
        </button>
        <button matButton="outlined" [routerLink]="`${setlist.slug}`" type="button">
          <mat-icon>edit</mat-icon>
          <span class="action-hint">Bearbeiten</span>
        </button>
      </div>
    </div>
  }
  <mat-divider></mat-divider>
}

<div class="page-actions">
  <button matFab extended aria-label="Neue Setliste erstellen" type="button" routerLink="/setlists/new/edit">
    <mat-icon>add</mat-icon>
    Setliste erstellen
  </button>
</div>
