@if (store.setlistIsLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<div class="header-row">
  <div class="search-box">
    <mat-form-field appearance="outline">
      <mat-label>Songs durchsuchen</mat-label>
      <input matInput #search
        placeholder="Titel oder Interpret..."
        (input)="filterSearch($event)"
        (keyup.escape)="clearSearch(search)" 
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="actions">
    <button matButton="filled" type="button" [routerLink]="['edit']"
            matTooltip="Metadaten bearbeiten">
      <mat-icon>edit</mat-icon>
      Bearbeiten
    </button>
    <button matButton="outlined" type="button" class="play"
            [routerLink]="store.liveLink()"
            matTooltip="Metadaten bearbeiten">
      <mat-icon>play_circle</mat-icon>
      Live
    </button>
    <button matButton="outlined" type="button" (click)="deleteSetlist()"
            matTooltip="Setliste löschen" class="delete">
      <mat-icon>delete</mat-icon>
      Löschen
    </button>
  </div>
  <mat-chip-set class="info-box">
    @let time = timeLeft();
    <mat-chip class="setlist-duration" [class.overdue]="time < 0">
      <mat-icon matChipAvatar>timelapse</mat-icon>
      <span>
        {{ store.totalDuration() | duration }} Songs –
        @if (time < 0) {
          {{ -time | duration }} Überzogen
        } @else {
          {{ time | duration }} Restzeit
        }
      </span>
    </mat-chip>
  </mat-chip-set>
</div>

<div class="split-screen" cdkDropListGroup>
  <div class="list-container">
    <h3>Verfügbare Songs</h3>
    <div
      cdkDropList
      id="available-songs" 
      [cdkDropListConnectedTo]="['setlist-songs']"
      [cdkDropListData]="filteredAvailableSongs()"
      class="song-list"
      (cdkDropListDropped)="moveSong($event)"
    >
      @for (song of filteredAvailableSongs(); track song.id; let isFirst = $first) {
        <div cdkDrag [cdkDragData]="song">
          <app-setlist-entry [class.b-top]="isFirst" [data]="song"></app-setlist-entry>
        </div>
      }
    </div>
  </div>

  <div class="list-container active-setlist">
    <h3>Setliste: {{ store.currentSetlist()?.location }}</h3>
    <div
      cdkDropList
      id="setlist-songs"
      [cdkDropListConnectedTo]="['available-songs']"
      [cdkDropListData]="store.enrichedSetlist()"
      class="song-list"
      (cdkDropListDropped)="moveSong($event)"
    >
      @for (entry of store.enrichedSetlist(); track entry.id; let isFirst = $first) {
        <div cdkDrag [cdkDragData]="entry">
          <app-setlist-entry [class.b-top]="isFirst" [data]="entry"></app-setlist-entry>
        </div>
      }
    </div>
  </div>
</div>