@if (setlistStore.setlistIsLoading() || songStore.songsAreLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<div class="search-box">
  <mat-form-field>
    <mat-label>Songs durchsuchen</mat-label>
    <input matInput
      placeholder="Titel oder Interpret..."
      (input)="filterSearch($event)"
      (keyup.escape)="searchTerm.set('')" 
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="split-screen" cdkDropListGroup>
  <div class="list-container">
    <h3>Verfügbare Songs</h3>
    <div
      cdkDropList
      id="available-songs" 
      [cdkDropListConnectedTo]="['setlist-songs']"
      [cdkDropListData]="filteredAvailableSongs()"
      class="song-list"
      (cdkDropListDropped)="moveSong($event)"
    >
      @for (song of filteredAvailableSongs(); track song.id) {
        <!-- <app-setlist-entry song="song"></app-setlist-entry> -->
        <div class="song-card" cdkDrag [cdkDragData]="song">
          <span cdkDragHandle class="drag-handle">
            <mat-icon>drag_indicator</mat-icon>
          </span>
          {{ song.name }}
        </div>
      }
    </div>
  </div>

  <div class="list-container active-setlist">
    <h3>Setliste: {{ setlistStore.currentSetlist()?.location }}</h3>
    <div
      cdkDropList
      id="setlist-songs"
      [cdkDropListConnectedTo]="['available-songs']"
      [cdkDropListData]="setlistStore.enrichedSetlist()"
      class="song-list"
      (cdkDropListDropped)="moveSong($event)"
    >
      @for (entry of setlistStore.enrichedSetlist(); track entry.id) {
        <!-- <app-setlist-entry entry="entry"></app-setlist-entry> -->
        <div class="song-card" cdkDrag [cdkDragData]="entry">
          <span cdkDragHandle class="drag-handle">
            <mat-icon>drag_indicator</mat-icon>
          </span>
          <span class="pos">{{ entry.position }}</span>
          {{ entry.song?.name }}
        </div>
      }
    </div>
  </div>
</div>