@use '@angular/material' as mat;

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search-box {
    display: flex;
    padding: 20px 30px 0;

    @include mat.form-field-overrides((
      filled-label-display: inline,
      filled-with-label-container-padding-bottom: 0
    ));
  }

  .delete {
    margin-left: 10px;
    color: var(--mat-sys-error);

    @include mat.button-overrides((
      outlined-outline-color: var(--mat-sys-error),
    ));
  }

  .info-box {
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 30px;

    .overdue {
      @include mat.chips-overrides((
        with-icon-icon-color: var(--mat-sys-error),
        label-text-color: var(--mat-sys-error),
        outline-color: var(--mat-sys-error),
      ));
    }
  }
}

.split-screen {
  display: flex;
  padding: 6px 12px;
  padding: 1.5rem;
  background-color: var(--mat-sys-surface-container);
  gap: 2rem;

  .list-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--mat-sys-surface);
    border-radius: 12px;
    box-shadow: var(--mat-sys-level2);
    border: 1px solid var(--mat-sys-surface-container);
    overflow: hidden;

    h3 {
      margin: 0;
      padding-top: 1.25rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      font-weight: 800;
      background: var(--mat-sys-surface);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .song-list {
    display: flex;
    flex-direction: column;
    background: var(--mat-sys-surface);
    overflow: hidden;
    padding: 1rem;
    cursor: move;
  }
}