@let data = displayData();

<div class="song-card"
     (click)="setActive()"
     [class.encore]="data.isEncore"
     [class.accustic]="data.isAccustic"
     [matContextMenuTriggerFor]="contextMenu.menu()!"
     [matTooltip]="showTooltip()"
     matTooltipClass="multiline-tooltip"
     (pointerdown)="trackPointerDown()"
     (pointerup)="trackPointerUp()"
     (pointerleave)="trackPointerUp()"
     (pointercancel)="trackPointerUp()"
     [class.drag-ready]="dragReady()">

  <div class="position">
    {{ data.position }}
  </div>

  <div class="song-info">
    <span class="title">{{ data.title }}</span>
    <span class="subtitle">{{ data.subtitle }}</span>
  </div>

  <mat-chip-set class="song-meta" aria-label="Songs Meta Info">
    <mat-chip class="duration">
      <span class="mono-value">{{ data.duration | duration }}</span>
    </mat-chip>
    <mat-chip class="chip tempo">
      <span class="mono-value">{{ data.tempo | formatMonospace }}</span>
      <span class="unit">BPM</span>
    </mat-chip>
    <mat-chip class="chip key">
      <span class="mono-value">{{ data.key | formatMonospace:2 }}</span>
    </mat-chip>
    <mat-chip class="chip vox">
      <mat-icon matChipAvatar>mic</mat-icon>
      <span class="mono-value">{{ data.leadVocals | initials | formatMonospace:2 }}</span>
    </mat-chip>
    @if (activeMember()) {
      @for (status of alerts(); track status.member) {
        <mat-chip [class.swap]="status.isSwap" class="chip">
          <mat-icon matChipAvatar>{{ status.isSwap ? 'swap_horiz' : 'check' }}</mat-icon>
          {{ status.instrument }}
        </mat-chip>
        <mat-chip [class.tuning]="status.isTuning" class="chip">
          <mat-icon matChipAvatar>tune</mat-icon>
          {{ status.tuning }}
        </mat-chip>
      }
    } @else {
      @let swappers = getSwappers(alerts());
      @let tuners = getTuners(alerts());

      @if (swappers.length > 0) {
        <mat-chip class="chip swap">
          <mat-icon matChipAvatar>swap_horiz</mat-icon>
          <strong>{{ swappers.join(', ') }}</strong>
        </mat-chip>
      }
      @if (tuners.length > 0) {
        <mat-chip class="chip tuning">
          <mat-icon matChipAvatar>tune</mat-icon>
          <strong>{{ tuners.join(', ') }}</strong>
        </mat-chip>
      }
    }
    <span class="spacer"></span>
    <button mat-icon-button
            [matMenuTriggerFor]="contextMenu.menu()!"
            (click)="$event.stopPropagation()"
            type="button">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-chip-set>
</div>

<app-setlist-context-menu #contextMenu [data]="data"></app-setlist-context-menu>