@use '@angular/material' as mat;
:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--mat-sys-surface-container-lowest);
  border-left: 10px solid var(--mat-sys-secondary);
  border-bottom: 1px solid var(--mat-sys-outline);
  transition: background 0.2s;
  cursor: pointer;
}
:host:hover, :host:has(.encore):hover, :host:has(.optional):hover {
  background-color: var(--mat-sys-surface-variant);
}
:host.b-top {
  border-top: 1px solid var(--mat-sys-outline);
}
:host.active {
  //background-color: var(--mat-sys-surface-container-low);
  background-color: var(--live-active-bg);
  border-left: 10px solid var(--live-active-accent);

  .song-card {
    .position {
      font-size: 1.8rem;
      color: var(--live-active-accent);
    }

    .song-info {
      .title {
        color: var(--live-active-accent);
        font-weight: 800;
        padding-top: .2rem;
        font-size: 1.8rem;
        min-height: 2rem;
      }
    }
  }
}
:host:has(.encore) {
  border-left-color: var(--mat-sys-secondary-container);
  background-color: var(--mat-sys-surface-container-low)
}
:host:has(.optional) {
  border-left-color: var(--live-optional-color);
  background-color: var(--mat-sys-surface-container-low)
}
.song-card.encore, .song-card.optional {
  .position {
    color: var(--mat-sys-secondary);
  }
}

.song-card {
  display: flex;
  width: 100%;
  // border-left: 5px solid var(--mat-sys-surface-container);
  // border-bottom: 1px solid var(--mat-sys-surface-container);

  // .drag-handle {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   padding-right: .5rem;
  // }

  .position {
    display: flex;
    justify-content: right;
    align-items: center;
    color: var(--mat-sys-primary);
    font-weight: 800;
    font-size: 1.2rem;
    min-width: 2rem;
  }

  .song-info {
    flex: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 1rem;

    .title {
      font-weight: bold;
      font-size: 1.25rem;
    }
    .subtitle {
      font-size: 1rem;
      color: var(--mat-sys-secondary);
    }
  }

  .song-meta {
    flex: .9;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;

    .chip {
      background-color: var(--mat-sys-surface-container-low);
      @include mat.chips-overrides((
        with-icon-icon-color: var(--mat-sys-primary),
        with-avatar-avatar-size: 15px,
      ));
    }
    .duration {
      background-color: var(--mat-sys-primary-container);
    }
    .chip-avatar {
      font-size: .5em;
    }
    .mono-value {
      font-family: monospace;
      font-size: 1.1em;
      white-space: pre;
    }
    .unit {
      margin: 0;
      padding-left: 2px;
      font-size: 0.5rem;
      line-height: 0;
    }
  }

  /* Mobile Optimierung */
  @media (max-width: 600px) {
    .song-meta, .song-details  {
      display: none;
    }
  }
}
