@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,220..1000;1,200..1000&display=swap');

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      //typography: Roboto,
      typography: Nunito,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

  .dark-theme {
    color-scheme: dark;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    --live-active-bg: rgba(100, 92, 63, 0.7);
    --live-active-accent: rgb(255, 217, 0);
    --live-done-opacity: 0.3;
  }

  .light-theme {
    color-scheme: light;
    --live-active-bg: rgba(238, 232, 170, 0.3);
    --live-active-accent: rgb(90, 127, 17);
    --live-done-opacity: 0.5;
  }

// Angular Material SnackBar Styles
mat-snack-bar-container.snackbar {
  margin-top: 80px;
}
.success-snackbar {
  @include mat.snack-bar-overrides((
    container-color: DimGray,
    button-color: yellowgreen,
    supporting-text-color: yellowgreen,
  ));
}
.error-snackbar {
  @include mat.snack-bar-overrides((
    container-color: mistyrose,
    button-color: darkred,
    supporting-text-color: darkred,
  ));
}
.warning-snackbar {
  @include mat.snack-bar-overrides((
    container-color: DimGray,
    button-color: gold,
    supporting-text-color: gold,
  ));
}
.info-snackbar {
  @include mat.snack-bar-overrides((
    container-color: DimGray,
    button-color: LightSkyBlue,
    supporting-text-color: LightSkyBlue,
  ));
}