<div class="live-container">
  <header class="live-header"
          [matTooltip]="showTooltip()"
          matTooltipClass="multiline-tooltip"
  >
    <mat-chip-set class="info-box">
      <mat-chip class="chip clock">
        <mat-icon matChipAvatar>schedule</mat-icon>
        <span>
          {{ currentTime() | date:'HH:mm' }}
          Uhr
        </span>
      </mat-chip>
      @let time = timeLeft();
      <mat-chip class="chip timer" [class.warning]="time < 5" [class.danger]="time < 0">
        <mat-icon matChipAvatar>timelapse</mat-icon>
        <span>
          @if (time < 0) {
            {{ -time | duration }} überzogen
          } @else {
            {{ time | duration }} verbleibend
          }
        </span>
      </mat-chip>
      <button matIconButton (click)="activeSongIndex.set(0)" type="button"
              title="Aktives Lied zurücksetzen" class="reset-btn">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-chip-set>
    <span class="spacer"></span>
    <div class="member-selector">
      <button matButton [matMenuTriggerFor]="memberMenu" type="button">
        <mat-icon>arrow_drop_down</mat-icon>
        <span class="member-label">
          {{ getActiveMemberName() || 'Gesamte Band' }}
        </span>
      </button>

      <mat-menu #memberMenu="matMenu">
        <button mat-menu-item (click)="setActiveMember(null)" type="button">
          <mat-icon>groups</mat-icon>
          <span>Gesamte Band</span>
        </button>
        @for (member of songStore.members(); track member.id) {
          <button mat-menu-item (click)="setActiveMember(member.id)" type="button">
            <mat-icon>{{ activeMember() === member.id ? 'person' : 'person_outline' }}</mat-icon>
            {{ member.name }}
          </button>
        }
      </mat-menu>
    </div>
  </header>

  <main 
    #songList
    class="song-list"
    cdkDropList
    [cdkDropListData]="store.enrichedSetlist()"
    (cdkDropListDropped)="moveSong($event)"
  >
    @let entries = store.enrichedSetlist();
    @for (entry of entries; track entry.id; let isFirst = $first; let i = $index) {
      <div cdkDrag [cdkDragData]="entry" [cdkDragStartDelay]="1000" #songItem>
        <app-song-card
          [class.b-top]="isFirst"
          [class.active]="activeSongIndex() === entry.position"
          (activate)="activateEntry(entry.position)"
          [data]="entry"
          [prevData]="entries[i - 1]"
          [activeMember]="activeMember() ?? null">
        </app-song-card>
      </div>
    }
  </main>
</div>